body {
    background: #050505;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 450px;
    max-width: 80%;
    height: auto;
}

.star {
    color: #d4af37;
}

.subtitle {
    color: #aaa;
    font-size: 20px;
}

.product-image {
    width: 100%;
    max-width: 450px;
    border-radius: 25px;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.08);
    transition: 0.4s;
}

.product-image:hover {
    transform: scale(1.03);
}

.card-dark {
    background: #111;
    padding: 20px;
    border-radius: 25px;
}

.description {
    max-width: 850px;
    font-size: 20px;
    line-height: 1.8;
    color: #ddd;
}

.colors span {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    margin: 10px;
    border: 2px solid white;
}


/* colori presi dal prodotto */

.black {
    background: #111;
}

.red {
    background: #b7192b;
}

.pink {
    background: #d89ab5;
}

.blue {
    background: #1d72b8;
}

.green {
    background: #006b45;
}

.gold {
    background: #d5a51c;
}


/*Images open*/

.lightbox {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

.close {
    position: absolute;
    top: 25px;
    right: 40px;
    color: white;
    font-size: 50px;
    cursor: pointer;
    font-weight: bold;
}


/* COUNTDOWN */

.countdown-box {
    margin-top: 100px;
    padding: 40px;
    background: #111;
    border-radius: 30px;
    width: 100%;
}

.countdown {
    font-size: 45px;
    font-weight: bold;
    color: #d4af37;
}


/*Footer*/

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.6) !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    letter-spacing: 1.5px;
}

.footer p {
    margin: 0;
}

@media(max-width:768px) {
    .logo img {
        width: 300px;
        max-width: 85%;
    }
    .countdown {
        font-size: 30px;
    }
    .description {
        font-size: 17px;
    }
}